.bouton
{
background-color:#fff;
height:34px;
border-bottom:2px solid #092435;
padding:3px 10px 3px 10px;
margin:3px 10px 3px 10px;
font-family:mist;
font-weight:normal;
font-size:26px;
color:#092435;
font-family: Tytoon Mist;
}
.bouton:hover
{
background-color:#092435;
border-bottom:2px solid #fff;
color:#fff;
}
/*---------------------------------------------{Fonts}--------------------------------------------------------*/
/* Définition de la police Tytoon Mist */
@font-face 
{
    font-family: 'Tytoon Mist';
    src: url('./font/tytoon_mist.ttf') format('truetype');
}
  
  /* Définition de la police Zorque */
@font-face 
{
    font-family: 'Zorque';
    src: url('./font/zorque.otf') format('opentype');
}
  
  /* Définition de la police Calibri */
@font-face 
{
    font-family: 'Calibri';
    src: url('./font/calibri.ttf') format('truetype');
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 175px;
    width: 70%;
    margin: 0 auto; /* Pour centrer le conteneur sur la page */
    /* Autres styles au besoin */
}



.titre
{
    height: 175px;
    width: 70%;
    font-family: Zorque;
    font-size: 60px;
    float: left; 
    display: flex;
    text-align: center;

}
.imageTitre
{
   width: 200px; 
} 
.authentification
{
    height: 175px;
    width: 30%;
    float: left; 

}

.container-left1 {
    margin-left: 275px;
    /* Autres styles au besoin */
}
.container-left2 {
    margin-left: 190px;
    /* Autres styles au besoin */
}


.authBloc 
{
    background-color: #4494cb;
}


.contenu
{
    height: 500px;
    width: 70%;
    float: left;
    clear: both;
}

.panier
{
    height: 500px;
    width: 30%;
    float: left;
    

}
body
{
    background-image: url('./img_site/fond-wide-1200px.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;         
}
.Pied_de_page
{
    height: 50px;
    width: 100%;
    float: left;
    clear: both;
    background-color: black;
}
/*-----------------------------------------{Ecran Intermédiaire}------------------------------------------------*/
@media only screen and (min-width: 750px) and (max-width: 1200px)
{
    .container-left1 {
        margin-left: 220px;
    }

    .container-left2 {
        margin-left: 133px;
        /* Autres styles au besoin */
    }
}
/*-----------------------------------------{Ecran Smartphone}--------------------------------------------------*/
@media screen and (max-width: 750px) 
{
    .titre
    {
        width: 100%;
        font-size: 40px;
    }
    .imageTitre
    {
        width: 100px;
    }
    .authentification
    {
        width: 100%;
    }
    .contenu
    {
        width: 100%;
    }
    .panier
    {
        width: 100%;
    }

    .container-left1 {
        margin-left: 230px;
    }
    
}